@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

div, span, input, h1, p {
  font-family: "Lato", sans-serif;
}

/* ChatRoom.css */
.chat-container,
#chat-container {
  display: flex;
  flex-direction: column;
  height: 600px; /* Fixed overall height (adjust as needed) */
  max-width: 400px;
  background-color: #1e1e1ed6;
  margin: 2rem auto;
  border-radius: 8px;
  overflow: hidden;
}

.chat-container-minimized {
  display: flex;
  flex-direction: column;
  height: 60px;
  max-width: 400px;
  background-color: #1e1e1ed6;
  margin: 2rem auto;
  border-radius: 8px;
  overflow: hidden;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  background-color: rgba(30, 30, 30, 0.8392156863);
  color: #fff;
  padding: 1rem;
  margin-top: 0.5rem;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  margin: 0;
  font-size: 1.5rem;
}

.help-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0;
  width: auto;
}

.pi-arrow-left {
  cursor: pointer;
}

/* Help Modal */
.help-container {
  position: absolute;
  background-color: #1e1e1e;
  width: 70%;
  height: 40%;
  border-radius: 1.5rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  padding: 1.2rem;
}

.modal-text {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

.modal-button {
  background: none;
  border: none;
  margin-bottom: 0.5rem;
}

/* Progress Bar */
.progress-wrapper {
  padding: 0.5rem 0;
  display: flex;
  width: 100%;
}

.progress-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  height: 3rem;
  background-color: #eaeaea;
  border-radius: 2rem;
  overflow: hidden;
}

.progress-segment {
  width: 25%;
  transition: background-color 0.3s ease;
  background-color: #eaeaea;
}

.progress-segment-0-active {
  background-color: #00008B;
}

.progress-segment-1-active {
  background-color: rgb(20, 131, 168);
}

.progress-segment-2-active {
  background-color: rgb(95, 50, 115);
}

.progress-segment-3-active {
  background-color: #000;
}

/* Chat Messages */
.chat-messages {
  flex: 1;
  padding: 1rem;
  overflow-y: scroll;
  background-color: #f9f9f9;
  min-height: 0;
}

/* Custom Scrollbar Styling for WebKit Browsers */
.chat-messages::-webkit-scrollbar {
  width: 12px;
}

.chat-messages::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.chat-messages::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Custom Scrollbar Styling for Firefox */
.chat-messages {
  scrollbar-width: thin;
  scrollbar-color: #888 #1e1e1ed6;
}

/* Message Styles */
.message-wrapper {
  margin-bottom: 0.5rem;
}

.message-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.message-info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  margin-left: 5px;
}

.message-info.user {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 5px;
  text-align: left;
}

.message-content {
  background-color: white;
  color: #000;
  border-radius: 16px;
  padding: 5px 15px;
  display: inline-block;
  max-width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-right: 15%;
}

.message-content.user {
  background-color: #1b85b8;
  color: #fff;
  margin-right: 0px;
  margin-left: 20%;
}

.agent-name {
  color:white;
  font-weight: bold;
}

/* Chat Input */
.chat-input {
  flex: 0 0 50px;
  padding: 0.75rem;
  background-color: #2d2b2b;
  display: flex;
  align-items: end;
  gap:0.3rem;
}

.chat-input-field {
  flex: 1;
  padding: 0.5rem;
  /* margin-right: 10px; */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Lato", sans-serif;
}

/* Input Icons */
.input-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mic-icon,
.mic-icon-listening {
  font-size: 2.3rem;
  cursor: pointer;
  color: #fff;
}

.mic-icon-listening {
  color: red;
}

/* PrimeReact Steps customizations */
.p-steps-title {
  font-weight: var(--font-regular);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  white-space: normal;
  overflow-wrap: break-word;
  padding: 0 1rem;
  line-height: 1.3rem;
}

.p-steps.single-step{
  ol {
    li {
      width: 100px;
      &::before {
        display: none;
      }
    }
  }
}

.p-steps {
  ol {
    li {
      width: 100px;
      &::before {
        border-top: 4px solid white !important;
        top: 0 !important;
        margin-top: 0.8rem !important;
        width: 100% !important;
        position: absolute !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
      }
    }
    li:first-child::before {
      width: 50% !important;
      transform: translateX(0) !important;
    }
    li:last-child::before {
      width: 50% !important;
      left: 25% !important;
    }
    .p-complete {
      opacity: 100%;
      a {
        background-color: transparent;
        .p-steps-number {
          /* background-color: var(--deep-teal); */
          color: transparent;
          border: none;
        }
        .p-steps-title {
          font-weight: var(--font-regular);
          color: var(--white);
        }
      }
    }
    .p-disabled:not(.p-complete) {
      a {
        background-color: transparent;
        .p-steps-number {
          border: 4px solid white !important;
          color: transparent;
          background-color: #1e1e1e !important;
        }
        .p-steps-title {
          font-weight: var(--font-regular);
          color: var(--white);
        }
      }
    }
    .p-highlight {
      a {
        background-color: transparent;
        .p-steps-number {
          color: transparent;
          /* background-color: var(--deep-teal); */
          border: none;
        }
      }
    }
  }
}

.send-btn {
  background-color: #00758D !important;
}

.change-room-container {
  margin: auto;
  margin-bottom: 0.5rem;

  p {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0.8rem;
  }
}

.change-button-container {
  display: flex;
  justify-content: space-evenly;
}

.change-button {
  font-weight: 600;
}

.change-button.yes{
  background-color: #52be80 !important;
}

.change-button.no{
  background-color: #FF6961 !important;
}

.agent-color-user {
  background-color: #1b85b8 !important;
  color: #fff !important;
}
.agent-color-0 {
  background-color: #FFD700 !important;
  color: #000 !important;
}
.agent-color-1 {
  background-color: #90EE90 !important;
  color: #000 !important;
}
.agent-color-2 {
  background-color: #FFB6C1 !important;
  color: #000 !important;
}
.agent-color-3 {
  background-color: #87CEEB !important;
  color: #000 !important;
}
.agent-color-4 {
  background-color: #FFA07A !important;
  color: #000 !important;
}
.agent-color-5 {
  background-color: #DDA0DD !important;
  color: #000 !important;
}
.agent-color-6 {
  background-color: #FF8C00 !important;
  color: #000 !important;
}
.agent-color-7 {
  background-color: #40E0D0 !important;
  color: #000 !important;
}
